<p>
  <strong>Horse Name:</strong>
  <%= @routine.horse.name %>
</p>
<h3> Edit a routine </h3>
 
<%= form_for :routine, url: routine_path(@routine), method: :patch do |f| %>
  <p>
    <%= f.label :kind %><br>
    <%= f.text_field :kind %>
  </p>
    <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>