
<p>

  <h1><%= @horse.name %></h1>
</p>
 
<p>
  <strong>Registered Name:</strong><br>
  <%= @horse.registered_name %>
</p>

<p>
  <strong> Breed: </strong><br>
  <%= @horse.breed %>
</p>

<p>
  <strong> Color: </strong><br>
  <%= @horse.color %>
</p><br><br>

<p>
  <h3> <%= @horse.name %>'s Daily Routine</h3><br>
  <% if @horse.routines.count > 1 %>
  <% @horse.routines.last(2).each do |routine| %>
  <br><strong><%= routine.kind %></strong><br>
  <%= routine.description %><br>
  <%= link_to "Update", edit_routine_path(routine) %>
  <% end %>
  <% else %>
  <strong><%= link_to "Record Care information for #{@horse.name}", new_horse_routine_path(horse_id: @horse.id) %></strong>
  <% end %>
</p>



