<!DOCTYPE html>
<html>
<head>

<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %> 

<% render "shared/navigation" %>

<% if session["error_message"] %>
  <div>
    <div class="alert alert-danger" role="alert"><%= session["error_message"] %></div>
      <% session.delete("error_message") %>
    </div>
  <% end %> 
  <% if session["success_message"] %>
    <div>
      <div class="alert alert-success" role="alert"><%= session["success_message"] %></div>
      <% session.delete("success_message") %>
    </div>
  <% end %> 

<body>

<%= yield %>

</body>
</html>
